<div id="heading">Edit My Account</div>
 <div id="display-form">
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "Back to My Account", account_path %> 
</div>