<% if @events.size > 0 %>        <span style="font-weight:bold">      <% end %>  
<%= link_to "My Saved Events (#{@events.size})", saved_events_events_path       %>
<% if @events.size > 0 %>        </span>      <% end %> 