<% if @venues.size > 0 %>        <span style="font-weight:bold">      <% end %>  
<%= link_to  "My Saved Venues (#{@venues.size})", saved_venues_venues_path   %> | %>
<% if @venues.size > 0 %>        </span>      <% end %> 